<?xml version="1.0" standalone="yes"?>
<LaunchBox>
  <Settings>
    <AlwaysShowImagesFullscreen>true</AlwaysShowImagesFullscreen>
    <AlwaysUseDefaultBackground>false</AlwaysUseDefaultBackground>
    <AutoBackup>true</AutoBackup>
    <EnableAutomaticSaveBackups>false</EnableAutomaticSaveBackups>
    <SaveBackupOnGameClose>true</SaveBackupOnGameClose>
    <PeriodicSaveBackupEnabled>true</PeriodicSaveBackupEnabled>
    <MaxAutoBackupsPerGame>25</MaxAutoBackupsPerGame>
    <LastLibrarySaveScanCursorGameId />
    <LastLibrarySaveScanCursorAdditionalAppId />
    <AutoPlayMusic>true</AutoPlayMusic>
    <BackgroundFade>150</BackgroundFade>
    <BackgroundImage />
    <ButtonBar>true</ButtonBar>
    <DarkBackgroundColor>-15724528</DarkBackgroundColor>
    <FiltersWidth>460</FiltersWidth>
    <ForegroundColor>-1</ForegroundColor>
    <FormLocationX>0</FormLocationX>
    <FormLocationY>0</FormLocationY>
    <FormMaximized>true</FormMaximized>
    <FormSizeX>1920</FormSizeX>
    <FormSizeY>1062</FormSizeY>
    <GamepadId />
    <GamepadName />
    <HighlightedBackgroundColor>-13684945</HighlightedBackgroundColor>
    <HighlightedBorderColor>-13684945</HighlightedBorderColor>
    <LightBackgroundColor>-15198184</LightBackgroundColor>
    <MenuBorderColor>-12105907</MenuBorderColor>
    <NoWelcomeVersion>13.27</NoWelcomeVersion>
    <BetaSpotlightVersion />
    <ScrollBar>true</ScrollBar>
    <SelectedBackgroundColor>-12491628</SelectedBackgroundColor>
    <ShowFilters>true</ShowFilters>
    <ShowIconsOnHover>true</ShowIconsOnHover>
    <ShowVersions>false</ShowVersions>
    <SortBy>Title</SortBy>
    <SortByDesc>false</SortByDesc>
    <UseDefaultWindowsBorder>false</UseDefaultWindowsBorder>
    <UseDefaultWindowsStyles>false</UseDefaultWindowsStyles>
    <WindowBorderColor>-10197916</WindowBorderColor>
    <SideBarSize>300</SideBarSize>
    <ShowSideBar>true</ShowSideBar>
    <SideBarField>Platform</SideBarField>
    <SideBarValue />
    <EnableAutomatedImports>true</EnableAutomatedImports>
    <EnableLocalDBSearch>true</EnableLocalDBSearch>
    <ColorizeGameDividers>true</ColorizeGameDividers>
    <ColorizeScrollBar>true</ColorizeScrollBar>
    <ColorizeGameSelections>false</ColorizeGameSelections>
    <ColorizeGameDetailsPopup>false</ColorizeGameDetailsPopup>
    <ColorizeBackgroundFade>false</ColorizeBackgroundFade>
    <UseRandomColorThemeOnStartup>false</UseRandomColorThemeOnStartup>
    <GameAspectRatio>0.6</GameAspectRatio>
    <GameSpacingHorizontal>30</GameSpacingHorizontal>
    <GameSpacingVertical>30</GameSpacingVertical>
    <GamePaddingVertical>17</GamePaddingVertical>
    <GamePaddingHorizontal>10</GamePaddingHorizontal>
    <GameTextLines>2</GameTextLines>
    <GameTextSpacingVertical>10</GameTextSpacingVertical>
    <GameFont>Microsoft Sans Serif, 10pt</GameFont>
    <SidebarFont>Microsoft Sans Serif, 10pt</SidebarFont>
    <GameDetailsLargeFont>Microsoft Sans Serif, 11pt</GameDetailsLargeFont>
    <GameDetailsSmallFont>Microsoft Sans Serif, 10pt</GameDetailsSmallFont>
    <GameDetailsTitleFont>Microsoft Sans Serif, 18pt</GameDetailsTitleFont>
    <ID>b9a8284a-3243-4753-aa61-91cc53ed0d33</ID>
    <HideSidebarNone>true</HideSidebarNone>
    <HideSidebarExists>true</HideSidebarExists>
    <ShowSidebarCounts>false</ShowSidebarCounts>
    <AlignSidebarCountsRight>false</AlignSidebarCountsRight>
    <SidebarNoneText>(None)</SidebarNoneText>
    <SidebarExistsText>(Exists)</SidebarExistsText>
    <SidebarAllText>All</SidebarAllText>
    <HideSidebarAll>false</HideSidebarAll>
    <BetaUpgrades>false</BetaUpgrades>
    <MinimizeOnGameLaunch>false</MinimizeOnGameLaunch>
    <RestoreOnGameExit>false</RestoreOnGameExit>
    <ShowSidebarScreenshots>true</ShowSidebarScreenshots>
    <ShowSidebarFanart>true</ShowSidebarFanart>
    <ControllerSelectButton>1</ControllerSelectButton>
    <ControllerContextMenuButton>2</ControllerContextMenuButton>
    <ControllerPlayButton>3</ControllerPlayButton>
    <ControllerTopMenuButton>4</ControllerTopMenuButton>
    <ControllerImagesButton>-1</ControllerImagesButton>
    <ControllerSideBarButton>5</ControllerSideBarButton>
    <ControllerGameDetailsButton>6</ControllerGameDetailsButton>
    <ControllerFullscreenButton>-1</ControllerFullscreenButton>
    <ControllerZoomInButton>-1</ControllerZoomInButton>
    <ControllerZoomOutButton>-1</ControllerZoomOutButton>
    <UseAllControllers>false</UseAllControllers>
    <UseControllerAutomation>false</UseControllerAutomation>
    <ControllerAutomationHoldButton>7</ControllerAutomationHoldButton>
    <ControllerAutomationCloseButton>8</ControllerAutomationCloseButton>
    <ControllerAutomationStartButton>1</ControllerAutomationStartButton>
    <ControllerAutomationVolumeUpButton>6</ControllerAutomationVolumeUpButton>
    <ControllerAutomationVolumeDownButton>5</ControllerAutomationVolumeDownButton>
    <ControllerPageUpButton>-1</ControllerPageUpButton>
    <ControllerPageDownButton>-1</ControllerPageDownButton>
    <ControllerFlipBoxButton>-1</ControllerFlipBoxButton>
    <ControllerPlayMusicButton>-1</ControllerPlayMusicButton>
    <ControllerZScroll>false</ControllerZScroll>
    <VoteVersion />
    <Language />
    <ImagesReorganizedFor5>true</ImagesReorganizedFor5>
    <FlowModelRotationLockMode>None</FlowModelRotationLockMode>
    <ShowHiddenGames>false</ShowHiddenGames>
    <ShowBrokenGames>true</ShowBrokenGames>
    <DosBoxAutoHotkeyScript />
    <ScummVmAutoHotkeyScript />
    <WindowsAutoHotkeyScript />
    <ListView>false</ListView>
    <EmuMoviesUserId />
    <EmuMoviesPassword />
    <ShowDetailsVideo>false</ShowDetailsVideo>
    <ShowDetailAchievements>true</ShowDetailAchievements>
    <ShowDetailPlaytimeCommitment>true</ShowDetailPlaytimeCommitment>
    <AutoPlayDetailsVideo>false</AutoPlayDetailsVideo>
    <ShowDetailPlatform>true</ShowDetailPlatform>
    <SaveVaultMigrationComplete>false</SaveVaultMigrationComplete>
    <SaveVaultMetadataRepairComplete>false</SaveVaultMetadataRepairComplete>
    <ShowDetailReleaseDate>true</ShowDetailReleaseDate>
    <ShowDetailDeveloper>true</ShowDetailDeveloper>
    <ShowDetailPublisher>true</ShowDetailPublisher>
    <ShowDetailRating>true</ShowDetailRating>
    <ShowDetailGenres>true</ShowDetailGenres>
    <ShowDetailSeries>true</ShowDetailSeries>
    <ShowDetailPlayMode>true</ShowDetailPlayMode>
    <ShowDetailRegion>true</ShowDetailRegion>
    <ShowDetailStatus>true</ShowDetailStatus>
    <ShowDetailSource>true</ShowDetailSource>
    <ShowDetailPortable>true</ShowDetailPortable>
    <ShowDetailInstalled>true</ShowDetailInstalled>
    <ShowDetailFileName>true</ShowDetailFileName>
    <ShowDetailCustomFields>true</ShowDetailCustomFields>
    <ShowDetailLastPlayed>true</ShowDetailLastPlayed>
    <ShowDetailPlayCount>true</ShowDetailPlayCount>
    <ShowDetailPlayTime>true</ShowDetailPlayTime>
    <ShowDetailStarRating>true</ShowDetailStarRating>
    <ShowDetailNotes>true</ShowDetailNotes>
    <ShowDetailDates>true</ShowDetailDates>
    <VideoPlaybackEngine>Windows Media Player</VideoPlaybackEngine>
    <ShowLaunchBoxSplashScreen>true</ShowLaunchBoxSplashScreen>
    <CloudAuthenticationToken />
    <LastMetadataUpdate>2026-07-01T09:35:34.4427021+02:00</LastMetadataUpdate>
    <LastMetadataVersion>13.27|1dd08778941d9f0</LastMetadataVersion>
    <ImageFoldersRenamedFor63>true</ImageFoldersRenamedFor63>
    <FrontImageTypePriorities>GOG Poster,Steam Poster,Epic Games Poster,Amazon Poster,Box - Front,Box - Front - Reconstructed,Advertisement Flyer - Front,Origin Poster,Uplay Thumbnail,Fanart - Box - Front,Poster,Square,Steam Banner</FrontImageTypePriorities>
    <BackImageTypePriorities>Box - Back,Box - Back - Reconstructed,Advertisement Flyer - Back,Fanart - Box - Back</BackImageTypePriorities>
    <BackgroundImageTypePriorities>Epic Games Background,Uplay Background,Origin Background,Amazon Background,Fanart - Background</BackgroundImageTypePriorities>
    <ScreenshotsImageTypePriorities>Screenshot - Gameplay,Screenshot - Game Title,Screenshot - Game Select,Screenshot - High Scores,Screenshot - Game Over,Steam Screenshot,GOG Screenshot,Epic Games Screenshot,Origin Screenshot,Amazon Screenshot</ScreenshotsImageTypePriorities>
    <MarqueeImageTypePriorities>Arcade - Marquee,Banner,Steam Banner</MarqueeImageTypePriorities>
    <Box3dImageTypePriorities>Box - 3D</Box3dImageTypePriorities>
    <CartFrontImageTypePriorities>Cart - Front,Fanart - Cart - Front,Disc,Fanart - Disc</CartFrontImageTypePriorities>
    <CartBackImageTypePriorities>Cart - Back,Fanart - Cart - Back</CartBackImageTypePriorities>
    <Cart3dImageTypePriorities>Cart - 3D</Cart3dImageTypePriorities>
    <DefaultImageGroup>Boxes</DefaultImageGroup>
    <AllowDeletingRoms>false</AllowDeletingRoms>
    <DeleteAssociatedMediaOnGameDelete>false</DeleteAssociatedMediaOnGameDelete>
    <EnableLedBlinky>false</EnableLedBlinky>
    <LedBlinkyPath />
    <RegionPriorities>North America,United States</RegionPriorities>
    <DebugLog>false</DebugLog>
    <AssumeGameApplicationPathExists>false</AssumeGameApplicationPathExists>
    <ShuffleMusic>true</ShuffleMusic>
    <BackgroundUpdateDownloads>true</BackgroundUpdateDownloads>
    <ImportDefaultRemoveRoughMatches>true</ImportDefaultRemoveRoughMatches>
    <ImportDefaultSearchGamesDatabase>true</ImportDefaultSearchGamesDatabase>
    <ImportDefaultFilesFromSpecifiedFoldersOnly>false</ImportDefaultFilesFromSpecifiedFoldersOnly>
    <ImportDefaultAlsoCopyMoveAllFiles>true</ImportDefaultAlsoCopyMoveAllFiles>
    <ImportDefaultLookForPdfFiles>true</ImportDefaultLookForPdfFiles>
    <ImportDefaultCombineRoms>true</ImportDefaultCombineRoms>
    <ImportDefaultRenameGameFolders>false</ImportDefaultRenameGameFolders>
    <ImportDefaultLookForDosBoxConfFiles>true</ImportDefaultLookForDosBoxConfFiles>
    <ImportDefaultLookForGameSetupFiles>true</ImportDefaultLookForGameSetupFiles>
    <ImportDefaultAutomaticallyMount>true</ImportDefaultAutomaticallyMount>
    <ImportDefaultCinematicThemeVideo>true</ImportDefaultCinematicThemeVideo>
    <ImportDefaultSteamTrailerVideo>false</ImportDefaultSteamTrailerVideo>
    <RetroAchievementsUsername />
    <RetroAchievementsApiKey />
    <UploadStarRatings>true</UploadStarRatings>
    <ConsiderCommunityStarRatings>true</ConsiderCommunityStarRatings>
    <MinimumCommunityRatingCountBeforeConsidering>5</MinimumCommunityRatingCountBeforeConsidering>
    <RetroarchNetplayLastNickname />
    <RetroarchNetplayLastServer />
    <ListViewOrderedColumnPriorities>Badges,Title,Platform,Developer,Publisher,Release Date,Rating,Genre,Series,Region,Play Mode,Version,Status,Source,Last Played,Added,Modified,Play Count,Favorite,Progress,Broken,Portable,Hide,Star Rating,Community Star Rating,Community Star Rating Count,Alternate Names,Wikipedia URL,Max Players,Release Type,Video URL,Installed,Application Path,Launchbox Database ID,Play Time</ListViewOrderedColumnPriorities>
    <ListViewVisibleColumnIndexPriorities>33,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34</ListViewVisibleColumnIndexPriorities>
    <HideGamesMissingVideos>false</HideGamesMissingVideos>
    <HideGamesMissingBoxFrontImage>false</HideGamesMissingBoxFrontImage>
    <HideGamesMissingScreenshotImage>false</HideGamesMissingScreenshotImage>
    <HideGamesMissingClearLogoImage>false</HideGamesMissingClearLogoImage>
    <HideGamesMissingBackgroundImage>false</HideGamesMissingBackgroundImage>
    <VolumeNext>75</VolumeNext>
    <SideBarValueId>-Amstrad CPC-Platform</SideBarValueId>
    <ControlsBarHeight>56</ControlsBarHeight>
    <SteamApiKey />
    <SteamUserName />
    <NextBoxSize>0.17214286</NextBoxSize>
    <BoxBackgroundOpacity>230</BoxBackgroundOpacity>
    <ColorizeBoxBackgroundsToMatchImages>true</ColorizeBoxBackgroundsToMatchImages>
    <BoxTextOutlineOpacity>0</BoxTextOutlineOpacity>
    <BoxAlignText>true</BoxAlignText>
    <BoxTextOutlineThickness>0</BoxTextOutlineThickness>
    <CenterText>false</CenterText>
    <ShowSubline>true</ShowSubline>
    <NextBoxSpacingHorizontal>35</NextBoxSpacingHorizontal>
    <NextBoxSpacingVertical>25</NextBoxSpacingVertical>
    <NextBoxPaddingHorizontal>12</NextBoxPaddingHorizontal>
    <NextBoxPaddingVertical>12</NextBoxPaddingVertical>
    <NextBoxTextSpacingVertical>10</NextBoxTextSpacingVertical>
    <NextBoxTextLines>2</NextBoxTextLines>
    <NextBoxAspectRatio>0.645</NextBoxAspectRatio>
    <Theme>Default</Theme>
    <UseStartupScreen>false</UseStartupScreen>
    <StartupTheme>Default</StartupTheme>
    <MinimumShutdownScreenDisplayTime>1000</MinimumShutdownScreenDisplayTime>
    <MinimumStartupScreenDisplayTime>1000</MinimumStartupScreenDisplayTime>
    <HideMouseCursorOnStartupScreens>true</HideMouseCursorOnStartupScreens>
    <MaxComboBoxItemCount>500</MaxComboBoxItemCount>
    <PauseTheme>Default</PauseTheme>
    <KeyboardGamePause>0</KeyboardGamePause>
    <ControllerAutomationPauseButton>0</ControllerAutomationPauseButton>
    <UsePauseScreen>false</UsePauseScreen>
    <PauseScreenMuting>true</PauseScreenMuting>
    <PauseScreenFading>true</PauseScreenFading>
    <HasAppendedSteamImageTypes>true</HasAppendedSteamImageTypes>
    <HasAppendedGogImageTypes>true</HasAppendedGogImageTypes>
    <ShowTextOnAllGames>true</ShowTextOnAllGames>
    <BackgroundBlurAmount>30</BackgroundBlurAmount>
    <EnableBoxShadows>true</EnableBoxShadows>
    <DynamicBoxSizing>true</DynamicBoxSizing>
    <ShowBadges>false</ShowBadges>
    <EnabledBadges />
    <GogProfileName />
    <GogLaunchWithClient>false</GogLaunchWithClient>
    <OriginLaunchWithClient>false</OriginLaunchWithClient>
    <EpicToken />
    <AmazonToken />
    <DownloadMameCommunityHighScores>true</DownloadMameCommunityHighScores>
    <UploadMameCommunityHighScores>false</UploadMameCommunityHighScores>
    <ShowDetailMameAllTimeCommunityLeaderboard>true</ShowDetailMameAllTimeCommunityLeaderboard>
    <ShowDetailMameYearlyCommunityLeaderboard>true</ShowDetailMameYearlyCommunityLeaderboard>
    <ShowDetailMameMonthlyCommunityLeaderboard>true</ShowDetailMameMonthlyCommunityLeaderboard>
    <ShowDetailMameWeeklyCommunityLeaderboard>true</ShowDetailMameWeeklyCommunityLeaderboard>
    <HasAppendedEpicGamesImageTypes>true</HasAppendedEpicGamesImageTypes>
    <HasAppendedUplayImageTypes>true</HasAppendedUplayImageTypes>
    <HasAppendedOriginImageTypes>true</HasAppendedOriginImageTypes>
    <HasAppendedAmazonImageTypes>true</HasAppendedAmazonImageTypes>
    <HasAppendedAmazonPoster>true</HasAppendedAmazonPoster>
    <VideoTypePriorities>Theme Video,Video Snap,Recording,Trailer</VideoTypePriorities>
    <AutoAddObsRecordings>false</AutoAddObsRecordings>
    <StartObsWithGames>false</StartObsWithGames>
    <ObsRecordingsFolder />
    <ObsExePath />
    <KeyboardScreenshot>0</KeyboardScreenshot>
    <ShowDetailWikipediaUrl>true</ShowDetailWikipediaUrl>
    <ShowDetailReleaseType>true</ShowDetailReleaseType>
    <ShowDetailMaxPlayer>true</ShowDetailMaxPlayer>
    <ShowDetailVideoUrl>true</ShowDetailVideoUrl>
    <LedBlinkyUseAdvanced>false</LedBlinkyUseAdvanced>
    <EnableSystemTray>false</EnableSystemTray>
    <MinimizeToSystemTray>false</MinimizeToSystemTray>
    <CloseToSystemTray>true</CloseToSystemTray>
    <DontSendTrayReminder>true</DontSendTrayReminder>
    <UseDeferredScrolling>false</UseDeferredScrolling>
    <DialogAccentColor>-12491628</DialogAccentColor>
    <DialogHighlightColor>-11776158</DialogHighlightColor>
    <DialogBackgroundColor>-14013644</DialogBackgroundColor>
    <DialogBorderColor>-14013644</DialogBorderColor>
    <DialogForegroundColor>-986896</DialogForegroundColor>
    <DialogContrastMultiplier>1</DialogContrastMultiplier>
    <ImportDefaultMediaLimit>1</ImportDefaultMediaLimit>
    <ShowPlatformTotalGames>true</ShowPlatformTotalGames>
    <ShowPlatformDefaultEmulator>true</ShowPlatformDefaultEmulator>
    <ShowPlatformGamesCompleted>true</ShowPlatformGamesCompleted>
    <ShowPlatformGamesMastered>true</ShowPlatformGamesMastered>
    <ShowPlatformGamesBeaten>true</ShowPlatformGamesBeaten>
    <ShowPlatformLastPlayedGame>true</ShowPlatformLastPlayedGame>
    <ShowPlatformLastPlayedDate>true</ShowPlatformLastPlayedDate>
    <ShowPlatformPlayCount>true</ShowPlatformPlayCount>
    <ShowPlatformMostPlayedGame>true</ShowPlatformMostPlayedGame>
    <ShowPlatformReleaseDate>true</ShowPlatformReleaseDate>
    <ShowPlatformDeveloper>true</ShowPlatformDeveloper>
    <ShowPlatformCpu>true</ShowPlatformCpu>
    <ShowPlatformMemory>true</ShowPlatformMemory>
    <ShowPlatformGraphics>true</ShowPlatformGraphics>
    <ShowPlatformSound>true</ShowPlatformSound>
    <ShowPlatformDisplay>true</ShowPlatformDisplay>
    <ShowPlatformMedia>true</ShowPlatformMedia>
    <ShowPlatformDocuments>true</ShowPlatformDocuments>
    <ShowPlatformMaxControllers>true</ShowPlatformMaxControllers>
    <ShowPlatformNotes>true</ShowPlatformNotes>
    <ShowPlatformManufacturer>true</ShowPlatformManufacturer>
    <ShowPlatformBanner>true</ShowPlatformBanner>
    <ShowPlatformDevice>true</ShowPlatformDevice>
    <ShowPlatformVideo>false</ShowPlatformVideo>
    <ShowPlatformFanart>true</ShowPlatformFanart>
    <ShowPlatformPlaytime>true</ShowPlatformPlaytime>
    <VideoCheck>false</VideoCheck>
    <RotateModelDefaultsApplied>true</RotateModelDefaultsApplied>
    <ShowDetails3dModel>false</ShowDetails3dModel>
    <ShowSidebarIcons>true</ShowSidebarIcons>
    <DisableCheevoWarnings>false</DisableCheevoWarnings>
    <EnableGameCloudSync>false</EnableGameCloudSync>
    <LastRaHasherVersion>7</LastRaHasherVersion>
    <NotificationType>0</NotificationType>
    <FontManuallySet>false</FontManuallySet>
    <EaPlayToken />
    <XboxAuthToken />
    <XboxLoginToken />
    <AmazonAutoImport>InstalledOnly</AmazonAutoImport>
    <EaAutoImport>InstalledOnly</EaAutoImport>
    <EpicGamesAutoImport>InstalledOnly</EpicGamesAutoImport>
    <GogAutoImport>InstalledOnly</GogAutoImport>
    <SteamAutoImport>InstalledOnly</SteamAutoImport>
    <UbisoftAutoImport>InstalledOnly</UbisoftAutoImport>
    <XboxAutoImport>InstalledOnly</XboxAutoImport>
    <EnableRomAutoImports>true</EnableRomAutoImports>
    <UseOldSearchSyntax>false</UseOldSearchSyntax>
    <IgnoreDependencyWarning />
    <ShowLegacyScummVm>false</ShowLegacyScummVm>
    <EnableTelemetry>true</EnableTelemetry>
    <ShowDetailProgress>true</ShowDetailProgress>
    <AmazonAutoImportPlatform>Windows</AmazonAutoImportPlatform>
    <EaAutoImportPlatform>Windows</EaAutoImportPlatform>
    <EpicAutoImportPlatform>Windows</EpicAutoImportPlatform>
    <GogDosAutoImportPlatform>MS-DOS</GogDosAutoImportPlatform>
    <GogWindowsAutoImportPlatform>Windows</GogWindowsAutoImportPlatform>
    <SteamAutoImportPlatform>Windows</SteamAutoImportPlatform>
    <UbiAutoImportPlatform>Windows</UbiAutoImportPlatform>
    <XboxAutoImportPlatform>Windows</XboxAutoImportPlatform>
    <HideRecommendedGames>false</HideRecommendedGames>
    <HideSimilarGames>false</HideSimilarGames>
    <HidePossiblePorts>false</HidePossiblePorts>
    <BadgePack />
    <PlatformIconPack />
    <PlatformLogoPack />
    <HasMigratedMediaPackFiles>true</HasMigratedMediaPackFiles>
    <HasMigratedToWmp>true</HasMigratedToWmp>
    <HasMigratedToProgress>true</HasMigratedToProgress>
    <DisableSaveManagement>false</DisableSaveManagement>
    <RetroAchievementsPassword />
    <RetroAchievementsToken />
    <HasSetAutoProgressDefaultValues>true</HasSetAutoProgressDefaultValues>
    <HasSetAutoProgressPausedValue>true</HasSetAutoProgressPausedValue>
    <EnableAutoProgressTracking>true</EnableAutoProgressTracking>
    <AutoProgressMinPlaytime>30</AutoProgressMinPlaytime>
    <AutoProgressNotStartedValue>Not Started / Unplayed</AutoProgressNotStartedValue>
    <AutoProgressMinPlaytimeReachedValue>Active / In Progress</AutoProgressMinPlaytimeReachedValue>
    <AutoProgressHasAchievementsValue>Active / In Progress</AutoProgressHasAchievementsValue>
    <AutoProgressBeatenSoftcoreValue>Done / Beaten</AutoProgressBeatenSoftcoreValue>
    <AutoProgressBeatenHardcoreValue>Done / Beaten</AutoProgressBeatenHardcoreValue>
    <AutoProgressCompletedValue>Done / Completed</AutoProgressCompletedValue>
    <AutoProgressMasteredValue>Done / Mastered</AutoProgressMasteredValue>
    <AutoProgressPausedValue>Active / Paused</AutoProgressPausedValue>
    <AutoProgressPausePeriod>30</AutoProgressPausePeriod>
    <ProgressPriorities>Not Started / Unplayed,Not Started / Want to Play,Not Started / Won't Play,Active / In Progress,Active / Continuous,Active / Paused,Done / Beaten,Done / Completed, Done / Mastered,Done / Dropped</ProgressPriorities>
    <AutoProgressIncludedValues>Not Started / Want to Play</AutoProgressIncludedValues>
    <HasMigratedNonEmulatedPlatformsForAutoScan>true</HasMigratedNonEmulatedPlatformsForAutoScan>
    <HasSyncedProgressBefore>false</HasSyncedProgressBefore>
    <RunLibraryScanOnStartup>false</RunLibraryScanOnStartup>
    <AutoImportMediaLimit>1</AutoImportMediaLimit>
    <FfmeVideoPriorities>D3D11VA,DXVA2,CUDA,D3D12VA,VULKAN</FfmeVideoPriorities>
    <SideBarFilterTypePriorities />
    <SideBarFilterTypeOrder />
    <RetroAchievementsDisplayedStat />
  </Settings>
  <ImageTypeSettings>
    <ImageType>Fanart - Cart - Back</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Advertisement Flyer - Front</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Banner</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Cart - Back</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Epic Games Background</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Origin Screenshot</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Box - 3D</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Clear Logo</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Steam Banner</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Screenshot - Game Title</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Fanart - Disc</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Fanart - Box - Back</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Arcade - Cabinet</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Arcade - Marquee</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Amazon Background</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Epic Games Poster</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Box - Front - Reconstructed</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Uplay Background</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Origin Background</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Box - Back - Reconstructed</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Advertisement Flyer - Back</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Uplay Thumbnail</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Disc</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Amazon Screenshot</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Poster</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Box - Back</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Fanart - Cart - Front</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Arcade - Control Panel</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Cart - Front</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Screenshot - Game Select</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Screenshot - Gameplay</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Screenshot - Game Over</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Box - Front</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>GOG Poster</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Fanart - Box - Front</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Box - Full</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Steam Screenshot</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Box - Spine</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Cart - 3D</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Icon</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Amazon Poster</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Steam Poster</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Origin Poster</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>GOG Screenshot</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Arcade - Controls Information</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Screenshot - High Scores</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Epic Games Screenshot</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Square</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Fanart - Background</ImageType>
    <IsDefault>true</IsDefault>
    <UseInAutoImports>true</UseInAutoImports>
  </ImageTypeSettings>
  <ImageTypeSettings>
    <ImageType>Arcade - Circuit Board</ImageType>
    <IsDefault>false</IsDefault>
    <UseInAutoImports>false</UseInAutoImports>
  </ImageTypeSettings>
</LaunchBox>